{% extends "base.html" %}
{% block main %}
    <h1 style="color: #8B7355; text-align:center">Добро пожаловать в мессенджер!</h1>
    {% if session.get('login') %}
        <p>Привет, {{ session['login'] }}!</p>
        <a href="{{ url_for('logout') }}">Выйти</a>
    {% else %}
        <p>Вы не авторизованы</p>
    {% endif %}
    
    <h2 style="color: #8B7355;">Список пользователей:</h2>
    <ul>
        {% for user in users %}
            <li>
                <a href="{{ url_for('chat', partner_id=user['id']) }}">{{ user['login'] }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}